---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav><a href="/">Home</a><a href="/about/">About</a><a href="/blog">Blog Post</a></nav>
    <h1>About Me</h1>
    <h2>... And My New Astro Site</h2>
    <p>its going fine</p>
    <p>will see if it works out for the new job</p>
</body>
</html>