---
import BlogPost from '../components/BlogPost.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<BaseLayout pageTitle="My First Blog Post">
    <br><br><br>
    <h3>My Posts</h3>
    {allPosts.map((post)=><BlogPost title={post.frontmatter.title} url={post.url}/>)}
</BaseLayout>