---
const {tagName}=Astro.props
---
<div class="tag"><a href=`/tags/${tagName}`>{tagName}</a></div>
<style>
    .tag{
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
    .tag a {
        color: #00539F;
    }
</style>